.admin .tab {
  display: flex;
}

.admin .tab button {
  border: none;
  background: #3f315f;
  border-radius: 5px;
  outline: none;
  padding: 10px 10px;
  font-size: 16px;
  color: #fdfdfd;
  margin: 10px;
}

.admin h3 {
  color: #fdfdfd;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 10px;
  text-transform: uppercase;
  text-align: center;
}

.admin .options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.options button {
  border: none;
  background: green;
  border-radius: 5px;
  outline: none;
  padding: 11px 20px;
  font-size: 16px;
  color: #fdfdfd;
  font-weight: 400;
  margin: 10px;
}

.admin .submit {
  background: #0cd1eb;
  border: 1px solid #0cd1eb;
  color: #2b2141;
  width: 100%;
  margin-top: 15px;
  padding: 12px 10px;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.5s all ease-in-out;
}

.list .questions {
  width: 800px;
}

.list .questions .question {
  margin: 20px 0px;
  border: 1px solid #fdfdfd;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.list .questions .question h6 {
  font-weight: 400;
  font-size: 1rem;
  color: #fdfdfd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #636363;
}

.list p {
  color: #fdfdfd;
}

.list .delete {
  background: #ff2247;
  margin-bottom: 10px;
  border-radius: 5px;
}

.editorButtons button {
  background: #d9d9d9 !important;
  color: #fdfdfd !important;
}

.editor {
  width: 800px !important;
  margin-bottom: 30px;
}

.questionInput {
  display: block;
  margin: 10px 0px;
  padding: 10px;
  font-size: 1rem;
  width: 800px;
  color: #000000;
  font-weight: 500;
  outline: none;
}
