.events {
  background: #2b2141;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 30px;
  overflow-x: hidden;
}

.events h1 {
  color: #fdfdfd;
  font-size: 300%;
  font-weight: 600;
  margin: 20px 10px;
  text-transform: uppercase;
}

.events .allEvents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* Event */
.event {
  padding: 1em 0;
  float: left;
  width: 250px;
  height: 250px;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.event .content {
  overflow: hidden;
}

.event .contentOverlay {
  border-radius: 10px;
  border-color: #3f315f;
  background: #3f315f;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .contentOverlay {
  opacity: 1;
}

.content img {
  width: 100%;
  height: 100%;
}

.content .contentDetails {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .contentDetails {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.contentFadeIn {
  top: 80%;
}

.content h4 {
  color: #fdfdfd;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.content button {
  background: #fdfdfd;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* Popup */
.background {
  position: fixed;
  background: #0000007e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.popup {
  background: #2b2141;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 50px;
  animation: dropTop 0.3s linear;
  position: relative;
}

@keyframes dropTop {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

.popup .close {
  color: #fdfdfd;
  font-size: 50px;
  position: absolute;
  right: 30px;
  background: #372d4d;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.popup .close:hover {
  background: #2c233e;
}

.popup h2 {
  color: #fdfdfd;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 20px 10px;
  text-align: center;
}

.popup .content {
  display: flex;
  padding: 5%;
}

/* tabs */
.content .tabs {
  border-right: 3px solid #0cd1eb;
  padding-right: 150px;
  padding-top: 30px;
}

.tabs button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #fdfdfd;
  font-weight: 400;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  transition: 0.5s ease all;
}

.tabs .active {
  color: #0cd1eb;
}

.tabs button:hover {
  color: #0cd1eb;
}

/* intro */
.content .intro,
.content .rules,
.content .rounds {
  padding-left: 50px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  width: 100%;
}

.intro p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fdfdfd;
  line-height: 25px;
  margin-bottom: 20px;
}

.intro button {
  background: #0cd1eb;
  padding: 10px 12px;
  font-size: 1rem;
  border: none;
  color: #2b2141;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

/* rules */
.rules ul li {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fdfdfd;
  line-height: 25px;
  margin-bottom: 20px;
}

/* rounds */
.rounds p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #0cd1eb;
  line-height: 25px;
  margin-bottom: 20px;
}

.rounds ul {
  margin-bottom: 30px;
}

.rounds ul li {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fdfdfd;
  line-height: 25px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 860px) {
  .events {
    padding-top: 20px;
  }
  .content .tabs {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .events h2 {
    text-align: left;
    margin-bottom: -10px;
  }
  .events h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  .popup {
    padding: 10px;
  }
  .content {
    flex-direction: column;
  }
  .content .tabs {
    border-right: none;
    padding-right: 0px;
    padding-top: 20px;
    border-bottom: 2px solid #0cd1eb;
    margin-bottom: 20px;
  }
  .tabs button {
    font-size: 1.2rem;
    margin: 15px 0px;
  }
  .intro p {
    font-weight: 300;
  }
  .content .intro,
  .content .rules,
  .content .rounds {
    padding-left: 0;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: 0px;
  }
  .gap {
    margin-bottom: 100px;
  }
  .popup .close {
    right: 10px;
    top: 10px;
    font-size: 40px;
  }
}

/* overlay */
