.home {
  background: #2b2141;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px 10px 10px 20px;
}

.home img {
  width: 150px;
}

.home h3,
.home h2 {
  color: #fdfdfd;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 5px 0px;
  text-align: center;
}

.home h1 {
  color: #fdfdfd;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px 10px;
  text-align: center;
}

.home div {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home button {
  color: #fff;
  border: 2px solid #fff;
  background: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease all;
  width: 180px;
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 500;
}

.home button:hover {
  background: #0cd1eb;
  border-color: #0cd1eb;
  color: #2b2141;
}

.home .filled {
  background: #0cd1eb;
  border-color: #0cd1eb;
  color: #2b2141;
}

.home .filled:hover {
  background: none;
  border-color: #fdfdfd;
  color: #fdfdfd;
}

@media only screen and (max-width: 860px) {
  .home {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .home h3 {
    font-size: 1.2rem;
    line-height: 30px;
    margin: 0px;
  }
  .home h2 {
    font-size: 1.8rem;
    letter-spacing: 0.8px;
    margin: 0px;
  }
}
