.quizpage {
  background: #2b2141;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  padding: 50px 0px;
}

.quizpage h1 {
  color: #fdfdfd;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.quizpage h3 {
  color: #fdfdfd;
  font-weight: 400;
  line-height: 25px;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.quizpage .quiz {
  width: 700px;
}

.quiz strong {
  font-weight: 500;
  font-size: 1.3rem;
  color: #ff2b47;
}

.quiz h4 {
  font-weight: 500;
  line-height: 25px;
  font-size: 1.1rem;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: justify;
  background: #eaeaea;
  color: #2b2141;
  padding: 10px;
  border-radius: 10px;
}

.quiz em {
  background: #3c2e5a73;
  margin: 10px 0px;
  padding: 15px 20px;
  color: #fdfdfd;
  border-radius: 10px;
  border: 2px solid #514c5a73;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
}

.quiz em span {
  height: 16px;
  width: 16px;
  border: 3px solid #514c5a73;
  border-radius: 50%;
}

.quiz .selected {
  border-color: #2b2141;
  color: #0cd1eb;
  background: #0cd1eb;
  color: #2b2141;
  font-weight: 600;
}

.quizpage .navigation {
  display: flex;
  align-items: center;
  width: 700px;
  margin-top: 20px;
  padding: 0px 10px;
}

.navigation button,
.quizpage .goHome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  background: none;
  color: #fdfdfd;
  font-weight: 500;
  border: 2px solid #fdfdfd;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}

.quizpage h5 {
  color: #fdfdfd;
  font-weight: 500;
  line-height: 25px;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.quizpage h6 {
  position: fixed;
  right: 30px;
  top: 20px;
  font-size: 2rem;
  color: #fdfdfd;
  background: #ff2b47;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quizpage .goHome {
  width: 200px;
}

.navigation button:hover {
  border-color: #0cd1eb;
  color: #0cd1eb;
}

/* popup */
.popup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.popup h3 {
  color: #fdfdfd;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
}

.popup p {
  text-align: left;
  color: #fdfdfd;
  margin-bottom: 0px;
}

.popup p span {
  color: #0cd1eb;
}

.popup .buttons {
  display: flex;
  margin-top: 10px;
}

.popup button {
  width: fit-content;
  margin-right: 10px;
}

.buttons .cancel {
  background: #ff2b47;
  border-color: #ff2b47;
  color: #fdfdfd;
}

.quizpage .progress {
  display: flex;
  margin-top: 10px;
  width: 700px;
  align-items: center;
  justify-content: center;
}

.progress button,
.examRules .complete,
.examRules .incomplete {
  background: #3f315f;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdfdfd;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.progress .active {
  background: #0cd1eb92;
}

.popup .examRules {
  margin-left: 100px;
  border-left: 2px solid #0cd1eb;
  padding-left: 30px;
  width: 50%;
}

.examRules ul li {
  color: #fdfdfd;
  margin: 15px 0px;
  font-size: 1.05rem;
  line-height: 25px;
}

.examRules .complete {
  background: #0cd1eb92;
}
