.treasurer {
  background: #2b2141;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  padding: 30px 0px;
}

.treasurer .reload {
  background: green;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.treasurer select {
  border: none;
  background: #3f315f;
  border-radius: 5px;
  outline: none;
  padding: 10px 10px;
  font-size: 16px;
  color: #fdfdfd;
  margin-bottom: 30px;
}

.treasurer h1 {
  color: #fdfdfd;
  font-size: 300%;
  font-weight: 600;
  margin: 20px 10px;
  text-transform: uppercase;
}

.treasurer table {
  color: #fdfdfd;
}

.treasurer table,
.treasurer table th,
.treasurer table td {
  border: 1px solid #fdfdfd;
  border-collapse: collapse;
}

.treasurer table td,
.treasurer table th {
  padding: 5px 3px;
}

.treasurer table th {
  font-weight: 500;
  color: #0cd1eb;
}

.treasurer table td {
  font-size: 15px;
}

.treasurer table td img {
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: cover;
}

.treasurer button {
  background: red;
  padding: 5px;
  cursor: pointer;
  border: none;
  color: #fdfdfd;
  font-weight: 500;
}

.treasurer .accept {
  background: green;
}

.treasurerModel img {
  width: 250px;
}
